<div class="card-container flex flex-wrap gap-4 justify-content-center">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>

    <p-card *ngFor="let service of services" [header]="service.name" [subheader]="service.category" [style]="{ width: '360px' }">
        <p>
            {{ service.description }}
        </p>
        <div class="price-container">
            <strong>Ár: </strong><span>{{ service.price | currency: 'USD' }}</span>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button (onClick)="confirm(service)" label="Előfizetés" />
            </div>
        </ng-template>
    </p-card>
</div>
