#submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p-floatLabel, p-button{
    margin-bottom: 20px;
}
textarea{
    width: 15.5rem;
    height: 3rem;
}